<!DOCTYPE html>
<html ng-app="PrimaryModule">

<head>
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/angular-chart.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="application/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="application/javascript"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js" charset="utf-8"></script>
	<!--	<script type="application/javascript" src="/js/typeahead.bundle.js"></script>-->
	<script type="application/javascript" src="../controllers/details.js"></script>
	<script>
		function printContent(el) {
			var restorepage = document.body.innerHTML;
			var printcontent = document.getElementById(el).innerHTML;
			document.body.innerHTML = printcontent;
			window.print();
			document.body.innerHTML = restorepage;
		}
	</script>
</head>

<body ng-controller="DetailsController">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.png" class="logo">
				</a>
			</div>

		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="content ">
			<div class="enforcement">
				<div class="row" ng-click="toggleEnforcementStatistics()">
					<i class="fa fa-warning"></i>&nbsp;&nbsp;{{drugname}} may have <b>Enforcement/Recall Events</b> that occurred in past.
					<i class="fa fa-plus-circle pull-right"  ng-hide="showEnforcementStatistics"></i>
					<i class="fa fa-minus-circle pull-right"  ng-show="showEnforcementStatistics"></i>
				</div>
			</div>
			<div class="row" ng-show="showEnforcementStatistics" style="background-color:#FFF;color:#666">
				<div class="col-xs-12 col-md-4 col-lg-4">
					<h4>Enforcements</h4>
					<hr>
					<canvas id="enforcementChart" style="padding:10px;min-height:200px;max-height:200px"></canvas>
					<div id="enforcementChart-legend" class="chart-legend"></div>
				</div>

				<div class="col-xs-12 col-md-4 col-lg-4">
					<h4>Enforcement Classification</h4>
					<hr>
					<canvas id="classificationChart" style="padding:10px;"></canvas>
					<div id="classificationChart-legend" class="chart-legend"></div>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-4">
					<h4>Enforcement Status</h4>
					<hr>
					<canvas id="statusChart" style="padding:10px;"></canvas>
					<div id="statusChart-legend" class="chart-legend"></div>
				</div>

			</div>
			<div class="event">
				<div class="row" ng-click="toggleEventStatistics()">
					<i class="fa fa-warning"></i>&nbsp;&nbsp;{{drugname}} may have <b>Adverse Events</b> that occurred in past.
					<i class="fa fa-plus-circle pull-right"  ng-hide="showEventStatistics"></i>
					<i class="fa fa-minus-circle pull-right" ng-show="showEventStatistics"></i>
				</div>

			</div>
			<div class="row" ng-show="showEventStatistics" style="background-color:#FFF;color:#666">

				<div class="col-xs-12 col-md-4 col-lg-4">
					<h4>Adverse Events</h4>
					<hr>
					<div class="col-xs-12 col-md-12 col-lg-12">
						<canvas id="eventChart" style="padding:10px;min-height:275px;max-height:275px"></canvas>
						<div id="eventChart-legend" class="chart-legend"></div>
					</div>
				</div>
			</div>




			<div class="row labelSection">
				<div class="col-sm-12">
					<h2>{{drugname}}</h3>
				<hr>

				<!--						<span class="pull-right" style="margin-top:-5px"><button class="btn btn-success btn-sm" style="line-height:1" onclick="printContent('labelContent');"><i class="fa fa-print"></i> Print</button></span>-->
				<div ng-if="!drugDetail.description" class="row">
					<div class="col-md-offset-4">
						No Label information found.
					</div>
				</div>
				<div class="row" ng-if="drugDetail.description">
					<div class="col-xs-12">
						<div ng-repeat="item in drugDetail.description" >
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.information_for_patients">
					<div class="col-xs-12">
						<div class="labelSubheader">Information for Patients</div>
						<div ng-repeat="item in drugDetail.information_for_patients">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.indications_and_usage">
					<div class="col-xs-12">
						<div class="labelSubheader">Indications and Usage</div>
						<div ng-repeat="item in drugDetail.indications_and_usage">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.dosage_and_administration">
					<div class="col-xs-12">
						<div class="labelSubheader">Dosage and Administration</div>
						<div ng-repeat="item in drugDetail.dosage_and_administration">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.adverse_reactions">
					<div class="col-xs-12">
						<div class="labelSubheader">Adverse Reactions</div>
						<div ng-repeat="item in drugDetail.adverse_reactions">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.drug_interactions">
					<div class="col-xs-12">
						<div class="labelSubheader">Drug Interactions</div>
						<div ng-repeat="item in drugDetail.drug_interactions">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.nursing_mothers">
					<div class="col-xs-12">
						<div class="labelSubheader">Nursing Mothers</div>
						<div ng-repeat="item in drugDetail.nursing_mothers">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.pediatric_use">
					<div class="col-xs-12">
						<div class="labelSubheader">Pediatric Use</div>
						<div ng-repeat="item in drugDetail.pediatric_use">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.clinical_studies">
					<div class="col-xs-12">
						<div class="labelSubheader">Clinical Studies</div>
						<div ng-repeat="item in drugDetail.clinical_studies">
							{{item}}
						</div>
						<hr>
					</div>
				</div>
				<div class="row" ng-if="drugDetail.clinical_pharmacology">
					<div class="col-xs-12">
						<div class="labelSubheader">Clinical Pharmacology</div>
						<div ng-repeat="item in drugDetail.clinical_pharmacology">
							{{item}}
						</div>
					</div>
				</div>
			</div>
		</div>
	



	</div>
	</div>
	<footer class="text-center">
		<div class="footer-above">
			<div class="container-fluid">
				<div class="row">
					<div class="footer-col col-md-6 left-footer ">
						<h3>Location</h3>
						<p>1760 Old Meadow Road
							<br/>McLean, Virginia 22102</p>
					</div>

					<div class="footer-col col-md-6">
						<h3>About PPC</h3>
						<p> <a href="http://www.ppc.com" target="_blank">PPC</a>&nbsp;&nbsp;is a leading Information Technology and Management Consulting firm,
							<br>delivering solutions to Federal, State and Local Government and commercial industry.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright © PPC - Project Performance Company 2015
					</div>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>